@using Entities.Concrete
@model List<UserMessage>

@{
    ViewData["Title"] = "AdminOutbox";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@sharedResource["outbox"]</h4>
            <div class="table-responsive">
                <table class="table table-striped text-center text-white">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> @sharedResource["receiver"] </th>
                            <th> @sharedResource["subject"] </th>
                            <th> @sharedResource["date"] </th>
                            <th> @sharedResource["seeMessage"] </th>
                            <th> @sharedResource["delete"] </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @item.UserMessageID </td>
                                <td> @item.ReceiverName </td>
                                <td> @item.Subject </td>
                                <td> @(((DateTime)item.Date).ToString("dd-MMMMM-yyyy")) </td>
                                <td> <a href="/AdminMessage/AdminMessageDetails/@item.UserMessageID" class="btn btn-outline-light">@sharedResource["seeMessage"]</a> </td>
                                <td> <a href="/AdminMessage/AdminOutboxMessageDelete/@item.UserMessageID" class="btn btn-outline-danger" onclick="return confirmDel()">@sharedResource["delete"]</a> </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <a href="/AdminMessage/AdminMessageSend/" class="btn btn-info btn-rounded btn-fw float-lg-right">@sharedResource["newMessage"]</a>
            </div>
        </div>
    </div>
</div>

<script language="javascript">function confirmDel() { var agree = confirm("@sharedResource["deleteMessage"]"); if (agree) { return true; } else { return false; } }</script>


