<li class="nav-item dropdown border-left">
    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
        <i class="mdi mdi-bell"></i>
        <span class="count bg-danger"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
        <h6 class="p-3 mb-0">Bildirimler</h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-calendar text-success"></i>
                </div>
            </div>
            <div class="preview-item-content">
                <p class="preview-subject mb-1">@sharedResource["toDoList"]</p>
                <p class="text-muted ellipsis mb-0"> @sharedResource["toDoListText"] </p>
            </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-settings text-danger"></i>
                </div>
            </div>
            <div class="preview-item-content">
                <p class="preview-subject mb-1">@sharedResource["settings"]</p>
                <p class="text-muted ellipsis mb-0"> @sharedResource["settingsText"] </p>
            </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item" href="/User/Announcement/Index/">
            <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-link-variant text-warning"></i>
                </div>
            </div>
            <div class="preview-item-content">
                <p class="preview-subject mb-1">@sharedResource["announcements"]</p>
                <p class="text-muted ellipsis mb-0"> @sharedResource["announcementsText"] </p>
            </div>
        </a>
        <div class="dropdown-divider"></div>
        <p class="p-3 mb-0 text-center">@sharedResource["lastText"]</p>
    </div>
</li>