<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/User/UserDashboard/Index/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#auth" data-toggle="collapse" aria-expanded="false" aria-controls="auth">
                <i class="ti-notepad menu-icon"></i>
                <span class="menu-title">@sharedResource["messages"]</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/User/UserMessage/SendMessage"> @sharedResource["newMessage"] </a></li>
                    <li class="nav-item"> <a class="nav-link" href="/User/UserMessage/Inbox"> @sharedResource["inbox"] </a></li>
                    <li class="nav-item"> <a class="nav-link" href="/User/UserMessage/Outbox"> @sharedResource["outbox"] </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/User/Announcement/Index/">
                <i class="ti-announcement menu-icon"></i>
                <span class="menu-title">@sharedResource["announcement"]</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/User/Profile/Index/" >
                <i class="ti-user menu-icon"></i>
                <span class="menu-title">@sharedResource["profile"]</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/User/Login/LogOut/">
                <i class="ti-power-off menu-icon"></i>
                <span class="menu-title">@sharedResource["logOut"]</span>
            </a>
        </li>
    </ul>
</nav>