@using Entities.Concrete
@model List<UserMessage>

@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card bg-inverse-dark">
        <div class="card-body">
            <h4 class="card-title text-warning"><i>@sharedResource["inbox"]</i></h4>
            <div class="table-responsive">
                <table class="table text-white text-center">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@sharedResource["subject"]</th>
                            <th>@sharedResource["sender"]</th>
                            <th>@sharedResource["date"]</th>
                            <th>@sharedResource["details"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.UserMessageID</th>
                                <td>@item.Subject</td>
                                <td>@item.SenderName</td>
                                <td>@(((DateTime)item.Date).ToString("dd-MMMMM-yyyy"))</td>
                                <td><a href="/User/UserMessage/GetReceiverMessageDetails/@item.UserMessageID" class="btn btn-warning">@sharedResource["seeMessage"]</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <a class="btn btn-warning float-right" href="/User/UserMessage/SendMessage/">@sharedResource["newMessage"]</a>
    </div>
</div>