
@model Entities.Concrete.UserMessage

@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card bg-inverse-dark">
        <div class="card-body">
            <h4 class="card-title text-warning"><i>@sharedResource["sendNewMessage"]</i></h4>
            <form class="forms-sample" method="post">
                <div class="form-group text-white">
                    @*<label>ID</label>*@
                    @Html.HiddenFor(x => x.UserMessageID, new { @class = "form-control" })
                </div>

                <div class="form-group text-white">
                    <label>@sharedResource["receiverMail"]</label>
                    <div class="form-group">
                            @await Component.InvokeAsync("UserMail")
                    </div>
                </div>

                <div class="form-group text-white">
                    <label>@sharedResource["subject"]</label>
                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                </div>

                <div class="form-group text-white">
                    <label>@sharedResource["message"]</label>
                    @Html.TextAreaFor(x => x.MessageContent, 10, 4, new { @class = "form-control" })
                </div>
                <button class="btn btn-warning float-lg-right">@sharedResource["send"]</button>
            </form>
        </div>
    </div>
</div>

