<div class="row">
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">@ViewBag.v1</h3>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-warning ">
                            <span class="mdi mdi-arrange-send-backward"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">@sharedResource["skillCount"]</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">@ViewBag.v2</h3>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-success">
                            <span class="mdi mdi-arrow-expand"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">@sharedResource["messageCount"]</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">@ViewBag.v3</h3>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-light">
                            <span class="mdi mdi-blur-linear"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">@sharedResource["experienceCount"]</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">@ViewBag.v4</h3>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-info ">
                            <span class="mdi mdi-blur"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">@sharedResource["serviceCount"]</h6>
            </div>
        </div>
    </div>
</div>