
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">@sharedResource["welcome"] @ViewBag.v!</h3>
                <h6 class="font-weight-normal mb-0"> <i>mustafasameturan.com</i> @sharedResource["forAnnouncement"] <a href="/User/Announcement/Index/"><span class="text-primary">@sharedResource["clickNow"]</span></a></h6>
            </div>
            <div class="col-12 col-xl-4">
                <div class="justify-content-end d-flex">
                    <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                        <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="true">
                            @sharedResource["today"] @DateTime.Now.ToShortDateString()
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card tale-bg">
            <div class="card-people mt-auto">
                <img src="~/skydash/images/dashboard/people.svg" alt="people">
                <div class="weather-info">
                    <div class="d-flex">
                        <div>
                            <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>@ViewBag.weather<sup>C</sup></h2>
                            <h5>@ViewBag.cloud</h5>
                        </div>
                        <div class="ml-2">
                            <h4 class="location font-weight-normal">@ViewBag.city</h4>
                            <h6 class="font-weight-normal">Türkiye</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin transparent">
        <div class="row">
            <div class="col-md-6 mb-4 stretch-card transparent text-center">
                <div class="card card-tale">
                    <div class="card-body">
                        <p class="mb-4 font-weight-bold" style="font-size:22px;">@sharedResource["incomingMessageCount"]</p>
                        <p class="fs-30 mb-2">@ViewBag.v1</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 stretch-card transparent text-center">
                <div class="card card-dark-blue">
                    <a href="/User/UserMessage/SendMessage/">
                        <div class="card-body">
                            <p class="mb-4 font-weight-bold mt-4" style="font-size:22px; color:white;">@sharedResource["sendMessage"]</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent text-center">
                <div class="card card-light-blue">
                    <div class="card-body">
                        <p class="mb-4 font-weight-bold" style="font-size:22px;">@sharedResource["userCount"]</p>
                        <p class="fs-30 mb-2">@ViewBag.v3</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card transparent text-center">
                <div class="card card-light-danger">
                    <div class="card-body">
                        <p class="mb-4 font-weight-bold" style="font-size:22px;">@sharedResource["announcementCount"]</p>
                        <p class="fs-30 mb-2">@ViewBag.v2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


