@using Entities.Concrete
@model List<Experience>

<div class="section px-3 px-lg-4 pt-5" id="experience">
    <div class="container-narrow">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">@sharedResource["myExperiences"]</h2>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <div class="card mb-3" data-aos="fade-right" data-aos-delay="100">
                        <div class="card-header px-3 py-2">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h3 class="h5 mb-1">@item.Name</h3>
                                    <div class="text-muted text-small"><small>(@item.Date)</small></div>
                                </div><img src="@item.IconUrl" width="48" height="48" alt="@item.Name" />
                            </div>
                        </div>
                        <div class="card-body px-3 py-2">
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>