<div class="col-md-12 col-xl-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">To do list</h4>
            <div class="add-items d-flex">
                <input type="text" class="form-control todo-list-input" placeholder="@sharedResource["enterTask"]">
                <button class="add btn btn-info todo-list-add-btn">@sharedResource["add"]</button>
            </div>
            <div class="list-wrapper">
                <ul class="d-flex flex-column-reverse text-white todo-list todo-list-custom">
                    <li>
                        <div class="form-check form-check-primary">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox">@sharedResource["refactor"]
                            </label>
                        </div>
                        <i class="remove mdi mdi-close-box"></i>
                    </li>
                    <li>
                        <div class="form-check form-check-primary">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox">@sharedResource["result"]
                            </label>
                        </div>
                        <i class="remove mdi mdi-close-box"></i>
                    </li>
                    <li>
                        <div class="form-check form-check-primary">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox">@sharedResource["languageAdd"]
                            </label>
                        </div>
                        <i class="remove mdi mdi-close-box"></i>
                    </li>
                    <li>
                        <div class="form-check form-check-primary">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox">@sharedResource["projectTest"]
                            </label>
                        </div>
                        <i class="remove mdi mdi-close-box"></i>
                    </li>
                    <li>
                        <div class="form-check form-check-primary">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox">@sharedResource["documentation"]
                            </label>
                        </div>
                        <i class="remove mdi mdi-close-box"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>